.galleryh{

    color: #253650;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 50px;
    background-color: rgb(241, 234, 225);
}