.galleryone h1{

    color: #4c4848;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
   
}